{
  "trailingComma": "es5",
  "tabWidth": 2,
  "editor.tabSize": 2,
  "editor.indent_style": "tabs",
  "editor.indent_size": 2,
  "editor.formatOnSave": true,
  "useTabs": false,
  "bracketSpacing": true,
  "singleQuote": false,
  "quoteProps": "preserve",
  "printWidth": 80
}
