body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #252525;
}

#widthBox {
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

H1 {
  font-size: 20px;
}

.image {
  margin-right: 10px;
}

#loading {
  height: 354px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chart {
  border: 2px solid #dddddd;
  border-radius: 7px;
}

#statsBox {
  height: auto;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3px 0 5px 0;
}

.inlineBox {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 500px) {
 #still {
  width: 100%;
 }
}

@media (min-width: 501px) {
  #still {
   width: 135px;
  }
}

#outOfRange {
  width: 135px;
}

#maximum {
  width: 135px;
}

#timeSelection {
  display: flex;
  justify-content: center;
  height: auto;
}

#timeDisplay {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  color: lightgray;
}

h1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

#modalBox {
  position: absolute;
  width: 100vw;
  text-align: center;
  top: 0;
  background-color: #00000055;
  display: none;
}

#modalHeadingBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#modal {
  background-color: #eeeeee;
  border: 3px solid black;
  padding: 20px;
  width: 75%;
  max-width: 400px;
  border-radius: 7px;
  margin: auto;
  margin-top: 40px;
  text-align: left;
}

.icon {
  cursor: pointer;
  padding-left: 20px;
}

.button {
  width: 69px;
  height: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border-width: 1px;
  border-radius: 7px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2px;
  margin-right: 2px;
}

.button:active {
  background-color: #90cdff;
}

.button[disabled]:active {
  background-color: white;
}

.box {
  padding: 5px;
  line-height: 30px;
}
