body {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

#widthBox {
  margin: auto;
  max-width: 600px;
}

#titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

H1 {
  font-size: 20px;
}

.image {
  margin-right: 10px;
}

#chart {
  border: 2px solid #dddddd;
  border-radius: 7px;
}

#timeSelection {
  display: flex;
  justify-content: center;
}

#timeDisplay {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 30px;
  min-width: 120px;
}

#unitSelection {
  height: 25px;
}

#modal {
  background-color: cornflowerblue;
  display: none;
  position: absolute;
  top: 10px;
  width: 100%;
  max-width: 600px;
  border-radius: 7px;
  height: 500px;
}

.button {
  width: 69px;
  height: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding-top: 0px;
  border-width: 1px;
  border-radius: 7px;
}

.button:active {
  background-color: #a8c0ed;
}

.button[disabled]:active {
  background-color: white;
}

.box {
  padding: 2px;
  line-height: 40px;
  height: 40px;
}
